include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include kreo_whats2 *.css
recursive-include kreo_whats2 *.csv
recursive-include kreo_whats2 *.html
recursive-include kreo_whats2 *.ico
recursive-include kreo_whats2 *.js
recursive-include kreo_whats2 *.json
recursive-include kreo_whats2 *.md
recursive-include kreo_whats2 *.png
recursive-include kreo_whats2 *.py
recursive-include kreo_whats2 *.svg
recursive-include kreo_whats2 *.txt
recursive-exclude kreo_whats2 *.pyc